{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {{ asset('/libs/hint/hint.css', 'preload:withFallback') }}
    {% if config.debug %}
        {{ asset('/libs/tingle/dist/tingle.css', 'preload:withFallback') }}
    {% else %}
        {{ asset('/libs/tingle/dist/tingle.min.css', 'preload:withFallback') }}
    {% endif %}
{% endblock %}

{% block site_title %}
    <h1 class="title is-5 navbar-link is-arrowless logo">
        <a class="navbar-link is-arrowless" aria-label="Pagetitle" href="{{ url.base }}">Index of</a>
        <nav class="breadcrumb path" aria-label="path">
            <ul>
                {% for (path, name) in index.relativePathDirs() %}
                    <li class="{{ loop.last ? 'is-active' }}"><a href="{{ url.base }}{{ path }}" aria-label="Previous Directory {{ name }}">{{ name }}</a></li>
                {% else %}
                    <li><a href="{{ url.base }}">/</a></li>
                {% endfor %}
            </ul>
        </nav>
    </h1>
{% endblock %}

{% block title %}Index of {{ index.relativePath() }}{% endblock %}

{% block navbar_items %}

    <div class="navbar-item field">
        <div class="buttons">

            {% if git is defined %}
                <a class="button is-link is-light hint--bottom hint--rounded" target="_blank" rel="noopener noreferrer" href="{{ git.url }}" aria-label="Open Website">
                    <i class="fas fa-link"></i>
                    &nbsp;
                    {% if 'github' in git.url %}
                        <i class="fab fa-github"></i>
                    {% elseif 'gitlab' in git.url %}
                        <i class="fab fa-gitlab"></i>
                    {% else %}
                        <i class="fab fa-git-alt"></i>
                    {% endif %}
                </a>
            {% endif %}

            {% set dirInfo = get_file_info(index.dir().storage()) %}

            {% if config.indexRoot or not(index.isRoot()) or dirInfo.isCached() %}
                <a class="button is-link is-light view-modal-info hint--bottom hint--rounded" href="{{ url.base }}/{{ index.relativePath() | url_encode }}?info" aria-label="View Info">
                    <i class="fas fa-eye"></i>
                </a>
            {% endif %}

            <a class="button is-black is-light hint--bottom hint--rounded" href="{{ url.base }}/{{ index.relativePath() | ltrim('/') }}?download" aria-label="Download Zip">
                <i class="fas fa-file-archive"></i>
                &nbsp;
                <i class="fas fa-arrow-down"></i>
            </a>
        </div>
    </div>

    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="container is-fluid index">
        <table class="table is-hoverable is-fullwidth" id="index">
            <thead>
            <tr>
                <th colspan="2" data-sort-column-key="name">Name</th>
                <th data-sort-column-key="type">Type</th>
                <th data-sort-column-key="modified" data-sort-method='number'>Last Modified</th>
                <th data-sort-column-key="size" data-sort-method='number'>Size</th>
                <th data-sort-method='none'></th>
            </tr>
            </thead>

            <tbody>

            {% if not(index.isRoot()) %}
                <tr data-sort-method='none' class="clickableRow" data-uri="{{ url.base }}{{ index.relativePathUp() }}">
                    <td>
                        <i class="fas fa-arrow-up"></i>
                    </td>
                    <td colspan="5">
                        <a href="{{ url.base }}{{ index.relativePathUp() }}">
                            <span class="filename">../</span>
                        </a>
                    </td>
                </tr>
            {% endif %}

            {% set dirInfo = get_file_info(index.dir().storage()) %}

            {% for file in index.list() %}
                {% set fileInfo = get_file_info(file.storage()) %}

                {% if file.isDir() %}

                    <tr class="clickableRow" data-uri="{{ url.current }}/{{ file.path().basename | url_encode }}">
                        <td>
                            <i class="thumbnail {{ fileInfo.type().icon() }}"></i>
                        </td>

                        <td data-sort-column-key="name" data-sort='{{ file.path().basename }}/'>
                            <a href="{{ url.current }}/{{ file.path().basename | url_encode }}/">
                                {{ file.path().basename ~ '/' }}
                            </a>
                        </td>

                        <td data-sort-column-key="type">
                            {{ fileInfo.type().name() }}
                        </td>

                        <td data-sort-column-key="modified" data-sort='{{ file.getTime() }}'>
                            {{ file.getTime() | date('d.m.Y H:i:s') }}
                        </td>

                        {% if fileInfo.isCached() %}
                            {% set info = fileInfo.getInfo() %}
                            <td data-sort-column-key="size" data-sort='{{ info.size.bytes }}'>
                                {{ info.size.bytes | format_bytes(1) }}

                                {% if dirInfo.isCached() %}
                                    <progress class="progress is-accent is-small" value="{{ info.size.bytes }}" max="{{ dirInfo.getInfo().size.bytes }}">15%</progress>
                                {% endif %}
                            </td>
                        {% else %}
                            <td data-sort-column-key="size" data-sort='999999999999999'>
                                -
                            </td>
                        {% endif %}

                        <td>
                            <a class="button is-link is-light view-modal-info" aria-label="View Info" href="{{ url.current }}/{{ file.path().basename | url_encode }}?info"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>

                {% else %}

                    <tr class="clickableRow" data-uri="{{ url.current }}/{{ file.path().filename | url_encode }}">
                        <td>
                            {% if fileInfo.hasThumbnail() %}
                                <img class="thumbnail" loading="lazy" src="{{ url.current }}/{{ file.path().filename | url_encode }}?thumbnail" alt="Thumbnail {{ file.path().filename }}"/>
                            {% else %}
                                <i class="thumbnail {{ fileInfo.type().icon() }}"></i>
                            {% endif %}
                        </td>

                        <td data-sort-column-key="name" data-sort='{{ file.path().filename }}'>
                            <a href="{{ url.current }}/{{ file.path().filename | url_encode }}">
                                <span class="filename">{{ file.path().filename }}</span>
                            </a>
                        </td>

                        <td data-sort-column-key="type">
                            {{ fileInfo.type().name() }}
                        </td>

                        <td data-sort-column-key="modified" data-sort='{{ file.getTime() }}'>
                            {{ file.getTime() | date('d.m.Y H:i:s') }}
                        </td>

                        <td data-sort-column-key="size" data-sort='{{ file.getSize() }}'>
                            {% set fileSize = file.getSize() %}
                            {{ fileSize | format_bytes(1) }}

                            {% if dirInfo.isCached() %}
                                <progress class="progress is-accent is-small" value="{{ fileSize }}" max="{{ dirInfo.getInfo().size.bytes }}">15%</progress>
                            {% endif %}
                        </td>

                        <td>
                            <a class="button is-link is-light view-modal-info" aria-label="View Info" href="{{ url.current }}/{{ file.path().filename | url_encode }}?info"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>

                {% endif %}

            {% else %}

                <tr>
                    <td colspan="6">
                        <p>nothing here</p>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        {% set readmeFile = index.dir().file('README.md') %}
        {% if readmeFile.isFile() %}
            {% block readme %}
                {% cache 'readme_md_' ~ readmeFile.path().real %}
                    <div class="container">
                        <nav class="panel is-accent">
                            <p class="panel-heading">
                                {{ readmeFile.path().filename }}
                            </p>
                            <div class="panel-block">
                                <div class="content">
                                    {{ readmeFile.read() | render_markdown(url.current) }}
                                </div>
                            </div>
                        </nav>
                    </div>
                {% endcache %}
            {% endblock %}
        {% endif %}
    </div>

{% endblock %}

{% block footer %}
    {{ parent }}

    {{ asset('/libs/tablesort/dist/tablesort.min.js', 'inline') }}
    {{ asset('/libs/tablesort/dist/sorts/tablesort.number.min.js', 'inline') }}
    <script type="text/javascript">
        new Tablesort(document.getElementById('index'));
    </script>

    {{ asset('/js/clickableRows.js', 'inline') }}

    {% if config.debug %}
        {{ asset('/libs/tingle/dist/tingle.js') }}
    {% else %}
        {{ asset('/libs/tingle/dist/tingle.min.js') }}
    {% endif %}

{% endblock %}
