{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {{ asset('/libs/hint/hint.css', 'preload:withFallback') }}
{% endblock %}

{% block site_title %}
    <div class="title is-5 navbar-link is-arrowless logo">

        <a class="navbar-link is-arrowless" href="{{ url.base }}">Index of</a>
        <nav class="breadcrumb path" aria-label="path">
            <ul>
                {% for (path, name) in index.relativePathDirs() %}
                    <li class="{{ loop.last ? 'is-active' }}"><a href="{{ url.base }}{{ path }}">{{ name }}</a></li>
                {% else %}
                    <li><a href="{{ url.base }}">/</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block title %}Index of {{ index.relativePath() }}{% endblock %}

{% block navbar_items %}

    {% if git is defined %}
        <div class="navbar-item field hint--bottom hint--rounded" aria-label="Open Website">
            <div class="buttons">
                <a class="button is-link is-light" target="_blank" rel="noopener noreferrer" href="{{ git.url }}">
                    <i class="fas fa-link"></i>
                    &nbsp;
                    {% if 'github' in git.url %}
                        <i class="fab fa-github"></i>
                    {% elseif 'gitlab' in git.url %}
                        <i class="fab fa-gitlab"></i>
                    {% else %}
                        <i class="fab fa-git-alt"></i>
                    {% endif %}
                </a>
            </div>
        </div>
    {% endif %}

    <div class="navbar-item field hint--bottom hint--rounded" aria-label="Download Zip">
        <div class="buttons">
            <a class="button is-black is-light" href="{{ url.base }}/download/{{ index.relativePath() | ltrim('/') }}">
                <i class="fas fa-file-archive"></i>
                &nbsp;
                <i class="fas fa-arrow-down"></i>
            </a>
        </div>
    </div>

    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="container is-fluid index">
        <table class="table is-hoverable is-fullwidth" id="index">
            <thead>
            <tr>
                <th colspan="2">name</th>
                <th>type</th>
                <th>last modified</th>
                <th>size</th>
            </tr>
            </thead>

            <tbody>

            {% if not(index.isRoot()) %}
                <tr>
                    <td>
                        <i class="fas fa-arrow-up"></i>
                    </td>
                    <td colspan="4">
                        <a href="{{ url.base }}{{ index.relativePathUp() }}">
                            <span class="filename">../</span>
                        </a>
                    </td>
                </tr>
            {% endif %}

            {% for file in index.list() %}
                <tr>
                    {% if file.isDir() %}

                        <td data-sort='{{ file.path().basename }}/'>
                            <i class="fas fa-folder"></i>
                        </td>

                        <td data-sort='{{ file.path().basename }}/'>
                            <a href="{{ url.current }}/{{ file.path().basename | url_encode }}">
                                {{ file.path().basename ~ '/' }}
                            </a>
                        </td>

                        <td data-sort='1'>
                            folder
                        </td>

                        <td data-sort='{{ file.getTime() }}'>
                            {{ file.getTime() | date('d.m.Y H:i:s') }}
                        </td>

                        <td data-sort='999999999999999999999'>
                            -
                        </td>


                    {% else %}

                        <td data-sort='{{ file.path().filename }}'>
                            {# <img src="https://files.ricwein.com/preview_configurator_launchpage.png" width="50px" height="20px" alt="" />#}
                            <i class="fas fa-file"></i>
                        </td>

                        <td data-sort='{{ file.path().filename }}'>
                            <a href="{{ url.current }}/{{ file.path().filename | url_encode }}">
                                <span class="filename">{{ file.path().filename }}</span>
                            </a>
                        </td>

                        <td data-sort='2'>
                            file
                        </td>

                        <td data-sort='{{ file.getTime() }}'>
                            {{ file.getTime | date('d.m.Y H:i:s') }}
                        </td>

                        <td data-sort='{{ file.getSize() }}'>
                            {{ file.getSize() | format_bytes(0) }}
                        </td>

                    {% endif %}
                </tr>

            {% else %}

                <tr>
                    <td colspan="5">
                        <p>nothing here</p>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        {% set readmeFile = index.dir().file('README.md') %}
        {% if readmeFile.isFile() %}
            {% cache 'readme_md_' ~ readmeFile.path().real %}
                <div class="content">
                    <h1 class="title">README.md</h1>
                    <div class="box">
                        {{ readmeFile.read() | render_markdown(url.current) }}
                    </div>
                </div>
            {% endcache %}
        {% endif %}
    </div>

{% endblock %}

{% block footer %}
    {{ parent }}

    {{ asset('/libs/tablesort/dist/tablesort.min.js') }}
    {{ asset('/libs/tablesort/dist/sorts/tablesort.number.min.js') }}

    <script type="text/javascript">new Tablesort(document.getElementById('index'));</script>
{% endblock %}
