{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    {% if config.debug %}
        {{ asset('/libs/tingle/dist/tingle.css', 'preload:withFallback') }}
    {% else %}
        {{ asset('/libs/tingle/dist/tingle.min.css', 'preload:withFallback') }}
    {% endif %}
{% endblock %}

{% block site_title %}
    <h1 class="title is-5 navbar-link is-arrowless logo">
        <a class="navbar-link is-arrowless" aria-label="Pagetitle" href="{{ url.base }}">Search Results for: &nbsp; <strong><small>{{ subject | e }}</small></strong></a>
    </h1>
{% endblock %}

{% block title %}Search: {{ subject | e }}{% endblock %}
{% block search_subject %}{{ subject | e }}{% endblock %}

{% block search_input %}
    <div class="control has-icons-left">
        <span class="icon is-left"><i class="fas fa-search"></i></span>
        <label>
            <input class="input" type="search" name="subject" placeholder="Search..." autofocus onfocus="this.setSelectionRange(this.value.length,this.value.length);" value="{% block search_subject %}{% endblock %}">
        </label>
    </div>
    <div class="control">
        <button type="submit" class="button is-black" id="search_button" style="width: 100px" onclick="updateSearchButton();">Search</button>
    </div>
{% endblock %}

{% block main %}
    <div class="container is-fluid index">
        <table class="table is-hoverable is-fullwidth" id="index">
            <thead>
            <tr>
                <th colspan="3" data-sort-column-key="name">Name</th>
                <th data-sort-column-key="type">Type</th>
                <th data-sort-column-key="modified" data-sort-method='number'>Last Modified</th>
                <th colspan="2" data-sort-column-key="size" data-sort-method='number'>Size</th>
            </tr>
            </thead>

            <tbody>
            {% set counter = 0 %}
            {% for file in searchResults %}
                {% set fileMetaData = get_file_metadata(file.storage()) %}

                {% if file.isDir() %}

                    <tr id="{{ file.path().filepath | ltrim('/') }}/" class="clickableRow" data-uri="{{ url.base }}/{{ file.path().filepath | url_encode }}/">
                        <td>
                            <i class="thumbnail {{ fileMetaData.faIcon() }}"></i>
                        </td>

                        <td colspan="2" data-sort-column-key="name" data-sort='{{ file.path().filepath }}/'>
                            <nav class="breadcrumb path" aria-label="path">
                                <ul>
                                    {% for (path, name) in iterate_path(file.path().filepath) %}
                                        <li><a href="{{ url.base }}/{{ path }}/" aria-label="Previous Directory {{ name }}">{{ name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </td>

                        <td data-sort-column-key="type">
                            {{ fileMetaData.type() }}
                        </td>

                        <td data-sort-column-key="modified" data-sort='{{ fileMetaData.timeLastModified() }}'>
                            {{ fileMetaData.timeLastModified() | date('d.m.Y H:i:s') }}
                        </td>

                        {% if fileMetaData.isCached('size') %}
                            <td data-sort-column-key="size" data-sort='{{ info.size.bytes }}'>
                                {{ fileMetaData.size() | format_bytes(1) }}
                            </td>
                        {% else %}
                            <td data-sort-column-key="size" data-sort='999999999999999'>
                                -
                            </td>
                        {% endif %}

                        <td class="has-text-centered">
                            <a class="button is-black is-light view-modal-info" aria-label="View Info" href="{{ url.base }}/{{ file.path().filepath | ltrim('/') | url_encode }}/?info"><i class="fas fa-ellipsis-h"></i></a>
                        </td>
                    </tr>

                {% else %}

                    <tr id="{{ file.path().filepath | ltrim('/') }}" class="clickableRow" data-uri="{{ url.base }}/{{ file.path().filepath | url_encode }}">
                        <td>
                            {% if fileMetaData.supportsThumbnail() %}
                                <img class="thumbnail" width="24px" height="24px" loading="lazy" src="{{ url.base }}/{{ file.path().filepath | url_encode }}?thumbnail" alt="Thumbnail {{ file.path().filename }}"/>
                            {% else %}
                                <i class="thumbnail {{ fileMetaData.faIcon() }}"></i>
                            {% endif %}
                        </td>

                        <td data-sort-column-key="name" data-sort='{{ file.path().filepath }}'>
                            <nav class="breadcrumb path" aria-label="path">
                                <ul>
                                    {% for (path, name) in iterate_path(file.path().filepath) %}
                                        <li class="{{ loop.last ? 'filename' }}"><a href="{{ url.base }}/{{ path }}{{ not(loop.last) ? '/' }}" aria-label="Previous Directory {{ name }}">{{ name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </td>
                        <td>
                            <a class="is-pulled-right button is-black is-light" href="{{ url.base }}/{{ file.path().filepath | url_encode }}?download" download>
                                <i class="fas fa-download"></i>
                            </a>
                        </td>

                        <td data-sort-column-key="type">
                            {{ fileMetaData.type() }}
                        </td>

                        <td data-sort-column-key="modified" data-sort='{{ fileMetaData.timeLastModified() }}'>
                            {{ fileMetaData.timeLastModified() | date('d.m.Y H:i:s') }}
                        </td>

                        <td data-sort-column-key="size" data-sort='{{ fileMetaData.size() }}'>
                            {{ fileMetaData.size() | format_bytes(1) }}
                        </td>

                        <td class="has-text-centered">
                            <a class="button is-black is-light view-modal-info" aria-label="View Info" href="{{ url.base }}/{{ file.path().filepath | ltrim('/') | url_encode }}?info"><i class="fas fa-ellipsis-h"></i></a>
                        </td>
                    </tr>

                {% endif %}

            {% else %}

                <tr>
                    <td colspan="6">
                        <h4 class="title is-4"><i class="fas fa-search"></i> No results found</h4>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <div class="container">
            <small class="is-pulled-right">Found {{ searchResults | count }} files.</small>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ parent }}

    {{ asset('/libs/tablesort/dist/tablesort.min.js', 'inline') }}
    {{ asset('/libs/tablesort/dist/sorts/tablesort.number.min.js', 'inline') }}
    <script type="text/javascript">new Tablesort(document.getElementById('index'));</script>

    {{ asset('/js/clickableRows.js', 'inline') }}

    {% if config.debug %}
        {{ asset('/libs/tingle/dist/tingle.js') }}
    {% else %}
        {{ asset('/libs/tingle/dist/tingle.min.js') }}
    {% endif %}

{% endblock %}
