<div class="relative overflow-x-auto cursor-default">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">

        <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th class="pl-20 pr-5 py-6 text-right uppercase">File</th>
            <th class="pr-20 pl-5 py-6 font-bold truncate max-w-2xl text-lg">{{ file.path.filename }}</th>
        </tr>
        </thead>

        <tbody>
        <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
            <td class="pl-20 pr-5 py-6 text-right uppercase">Size</td>
            {% set size = file.size %}
            <td class="pr-20 pl-5 py-6 font-bold" title="{{ size.bytes }} B">
                <span class="font-bold">{{ size.number }}</span>
                <span class="italic">{{ size.unit }}</span>
            </td>
        </tr>
        {% if file.isFile %}
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
                <td class="pl-20 pr-5 py-6 text-right uppercase">Mime-Type</td>
                <td class="pr-20 pl-5 py-6 font-bold truncate max-w-2xl">{{ file.type ?? 'unknown' }}</td>
            </tr>
        {% endif %}

        <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
            <td class="pl-20 pr-5 py-6 text-right uppercase">Created</td>
            <td class="pr-20 pl-5 py-6 font-bold truncate max-w-2xl">{{ file.path.cTime | date('d.m.Y H:i:s') }}</td>
        </tr>
        <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
            <td class="pl-20 pr-5 py-6 text-right uppercase">Last Modified</td>
            <td class="pr-20 pl-5 py-6 font-bold truncate max-w-2xl">{{ file.path.mTime | date('d.m.Y H:i:s') }}</td>
        </tr>
        <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
            <td class="pl-20 pr-5 py-6 text-right uppercase">Last Accessed</td>
            <td class="pr-20 pl-5 py-6 font-bold truncate max-w-2xl">{{ file.path.aTime | date('d.m.Y H:i:s') }}</td>
        </tr>
        {% for algo, hash in hashes %}
            <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
                <td class="pl-20 pr-5 py-6 text-right uppercase">{{ algo }}</td>
                <td class="pr-20 pl-5 py-6 font-bold truncate max-w-2xl" title="{{ hash }}">{{ hash }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
