<small>
    <strong>at:</strong> {{ template_error.file.path().filepath | ltrim('/') }}:{{ template_error.line }}
</small>

{% if config.debug %}
    <div class="control has-icons-left">
        <span class="icon is-left"><i class="fas fa-eye"></i></span>
        <ul>
            <li class="list-item is-debug-trace">
            <pre class="code-snippet box">
                <ol>
                    {% set template_lines = template_error.file.readAsLines() %}
                    {% set templateSnippetStart = max(template_error.line - (linePadding / 2) , 0) %}
                    {% set templateSnippetEnd = min(template_error.line + linePadding, count(template_lines) - 1) %}

                    {% for line in (templateSnippetStart..templateSnippetEnd) %}
                        <li value="{{ line + 1 }}" class="dist-{{ abs(line + 1 - template_error.line) }}"><span>{{ template_lines[line] | e }}</span></li>
                    {% endfor %}
                </ol>
            </pre>
            </li>
        </ul>
    </div>
{% else %}
    <br>
{% endif %}
