{# @var file \App\Model\CachedFileSystem\CacheableFile|\App\Model\CachedFileSystem\CacheableDirectory|null #}
<tr
        class="
            border-b
            bg-slate-100 dark:bg-gray-900 dark:border-gray-600 hover:bg-indigo-600 dark:hover:bg-blue-700
            cursor-pointer
            hover:scale-102 transition duration-150 hover:duration-75 ease-in-out opacity-75 hover:opacity-100
            shadow hover:shadow-lg hover:shadow-indigo-800 dark:hover:shadow-blue-600
            z-0 hover:z-20
        "
>
    <th
            scope="row"
            class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
    >
        {% if image is defined %}
            {{ image | raw }}
        {% elseif file is defined %}
            <img class="w-10 h-10 rounded-full" src="{{ imageUrl }}" alt="Preview of {{ file.path.filename }}">
        {% endif %}

        <div class="pl-3">
            {% if name is defined %}
                <div class="text-base font-semibold">{{ name }}</div>
            {% else %}
                <div class="text-base font-semibold">{{ file.path.filename ~ (file.isDir ? '/' : '') }}</div>
            {% endif %}
            <div class="font-normal text-gray-400">{{ file.type ?? '' }}</div>
        </div>
    </th>
    {% set loadDirect = file is defined and (file.isFile) %}
    <td class="px-6 py-4" data-url="{{ url }}">
        <span class="font-bold file-size-number">{{ loadDirect ? file.size.number }}</span>
        <span class="italic file-size-unit">{{ loadDirect ? file.size.unit }}</span>
        {% if file is defined and not loadDirect %}
            <div role="status">
                <svg class="inline w-6 h-6 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentFill"/>
                </svg>
            </div>
        {% endif %}
    </td>
    <td class="px-6 py-4">
        {% if file is defined %}
            {% set mTime = date(file.time(enum('ricwein\\FileSystem\\Enum\\Time::LAST_MODIFIED'))) %}
            {% if mTime >= date("now -6 month") %}
                <span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-3 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 border border-blue-500">{{ mTime | date('d.m.Y') }}</span>
            {% else %}
                <span class="bg-gray-100 text-gray-800 text-sm font-medium mr-2 px-3 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300 border border-gray-500">{{ mTime | date('d.m.Y') }}</span>
            {% endif %}
        {% endif %}
    </td>
    <td class="pl-6 pr-0 py-0">
        {% if id is defined %}
            <button
                    type="button"
                    class="w-full h-20 py-2 px-3 hover:bg-gray-800 transition duration-150 text-white text-sm font-semibold focus:outline-none"
            >
                <i class="fa-solid fa-eye"></i>
                show info
            </button>
            <dialog
                    data-id="{{ id }}"
                    class="fixed p-0 rounded-md
                        bg-gray-300
                        dark:bg-gray-800 text-slate-100
                        backdrop:bg-gray-400 backdrop:dark:bg-gray-900 backdrop:bg-opacity-50 backdrop:dark:bg-opacity-50 backdrop:backdrop-blur-sm
                        open:animate-fade-in open:backdrop:animate-fade-in
                    "
            >
                <div class="content">
                    <svg aria-hidden="true" class="m-10 rounded-full w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                              fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                              fill="currentFill"/>
                    </svg>
                    <span class="sr-only">Loading...</span>
                </div>
                <button
                        type="button"
                        class="absolute top-4 right-4"
                >
                    <i class="fa-solid fa-times"></i>
                </button>
            </dialog>
        {% endif %}
    </td>
</tr>
